In [ ]:
radius = 5
pi = 3.14
area = pi * radius ** 2
print("The area of the circle is", area)

The area of the circle is 78.5

In [ ]:
celsius = 37
fahrenheit = (celsius * 9/5) + 32
print("The Fahrenheit temperature is", fahrenheit)

The Fahrenheit temperature is 98.6

In [ ]:
dividend = 10
divisor = 3
quotient = dividend / divisor
remainder = dividend % divisor
print("The quotient is", quotient)
print("The remainder is", remainder)

The quotient is 3.3333333333333335
The remainder is 1

In [ ]:
number = 10
if number % 2 == 0:
  print("The number is even.")
else:
  print("The number is odd.")

The number is even.

In [ ]:

num1 = 10
num2 = 20
num3 = 30
average = (num1 + num2 + num3) / 3
print("The average of the three numbers is", average)

The average of the three numbers is 20.0

In [ ]:

x = 10
y = 20
x = x ^ y
y = x ^ y
x = x ^ y
print("The value of x is", x)
print("The value of y is", y)

The value of x is 20
The value of y is 10

In [ ]:

length = 10
breadth = 5
area = length * breadth
print("The area of the rectangle is", area)

The area of the rectangle is 50

In [ ]:

number = 123
sum_of_digits = number // 100 + (number % 100) // 10 + number % 10
print("The sum of the digits of the number is", sum_of_digits)

The sum of the digits of the number is 6

In [ ]:

year = 2020
if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print("The year is a leap year.")
    else:
      print("The year is not a leap year.")
  else:
    print("The year is a leap year.")
else:
  print("The year is not a leap year.")

The year is a leap year.

In [ ]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
if num1 > num2:
  max_num = num1
else:
  max_num = num2
if num1 < num2:
  min_num = num1
else:
  min_num = num2
print("The maximum of the two numbers is", max_num)
print("The minimum of the two numbers is", min_num)

Enter the first number: 10
Enter the second number: 5
The maximum of the two numbers is 10.0
The minimum of the two numbers is 5.0